.machineInfoSimpleCard {
  width: 259px;
  height: 122px;
  border-radius: 10px;
  opacity: 0.5;
    background: #fafbf6;
  padding: 20px;
}

.title {
  color: #1a1736;
  font-family: "Google Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}
.machineAmount {
  color: #1a1736;
  font-family: "Google Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1px;
}
