<div class="d-flex bg-white">
    <div class="colorFullBar bg-danger mt-2"></div>

    <div class="energyCostOverviewCard d-flex flex-column gap-4">
    <!-- start first row------------------------------------ -->
    <div class="d-flex justify-content-between align-items-center mx-2">
        <div class="mainHeading">W01</div>
        <div class="d-flex flex-column align-items-start">
            <div class="amount">7.35 <span class="unit"> KW/H</span></div>
            <div class="info">Energy Consumed</div>
        </div>
    </div>
    <!-- end first row------------------------------------ -->

    <!-- start second row------------------------------------ -->
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column align-items-start gap-1">
            <div class="amount">7.35 <span class="unit"> KW/H</span></div>
            <div class="info">Energy Consumed</div>
            <div class="amount"><span class="unit">€</span> 7.35</div>
        </div>
        <div class="verticalBar"></div>
        <div class="d-flex flex-column align-items-start gap-1">
            <div class="amount">8.35 <span class="unit"> KW/H</span></div>
            <div class="info">Energy Consumed</div>
            <div class="amount"><span class="unit">€</span> 7.35</div>
        </div>
    </div>
    <!-- end second row------------------------------------ -->

    <!-- start second row------------------------------------ -->
    <div>
         <div class="info">Energy Cost/kwh € 0.17</div>
    <div class="d-flex justify-content-between align-items-center mt-2">
        <div class="d-flex flex-column align-items-start gap-1">
            <div class="amount"><span class="unit">€</span> 7.35</div>
            <div class="info">Energy Consumed</div>
        </div>
        <div class="verticalBar"></div>
        <div class="d-flex flex-column align-items-start gap-1">
            <div class="amount"><span class="unit">€</span> 7.35</div>
            <div class="info">Energy Consumed</div>
        </div>
    </div>
    </div>
   
    <!-- end second row------------------------------------ -->
</div>
</div>
