<div class="conatiner equipmentContainer d-flex flex-column gap-4">
  <div class="d-flex justify-content-between align-items-start">
    <div class="">
      <h1 class="coustomerName">Customer Name</h1>
      <h1 class="equipmentHeading">Equipment Efficiency</h1>
    </div>
    <app-select-month></app-select-month>
  </div>

  <!-- start equipment eficency row-------------------------------------- -->
  <div class="bg-white">
    <h1 class="equipmentEfficiencyCardInnerText ms-4">Equipment Efficiency</h1>
    <div class="d-flex justify-content-between align-items-center machileState">
      <!-- start active machine card--------------------------- -->
      <div
        class="d-flex flex-column align-items-center machineStateCard mx-auto"
      >
        <p class="amountOfThatMachine">15</p>
        <div class="d-flex align-items-center gap-3">
          <img
            src="../../../assets/numberOfMachineIcon.png"
            alt="unable to load machine"
          />
          <div class="equipmentEfficiencyCardInnerText">Total Machines</div>
        </div>
        <div class="bottomGrayBar"></div>
      </div>
      <!-- end active machine card--------------------------- -->
      <div class="verticalBar"></div>

      <!-- start Standalone machine card--------------------------- -->
      <div
        class="d-flex flex-column align-items-center machineStateCard mx-auto"
      >
        <p class="amountOfThatMachine">3</p>
        <div class="d-flex align-items-center gap-3">
          <img
            src="../../../assets/stsndAloneMachineIcon.png"
            alt="unable to load machine"
          />
          <div class="equipmentEfficiencyCardInnerText">Total Standalone</div>
        </div>
        <div class="bottomGrayBar"></div>
      </div>
      <!-- end Standalone machine card--------------------------- -->
      <div class="verticalBar"></div>

      <!-- start Unit Produced machine card--------------------------- -->
      <div
        class="d-flex flex-column align-items-center machineStateCard mx-auto"
      >
        <p class="amountOfThatMachine">3</p>
        <div class="d-flex align-items-center gap-3">
          <img
            src="../../../assets/producedUnitesIcon.png"
            alt="unable to load machine"
          />
          <div class="equipmentEfficiencyCardInnerText">Unit Produced</div>
        </div>
        <div class="bottomGrayBar"></div>
      </div>
      <!-- end Unit Produced machine card--------------------------- -->
      <div class="verticalBar"></div>

      <!-- start Unit Scrapped machine card--------------------------- -->

      <div
        class="d-flex flex-column align-items-center machineStateCard mx-auto"
      >
        <p class="amountOfThatMachine">4</p>
        <div class="d-flex align-items-center gap-3">
          <img
            src="../../../assets/unitScrapedIcon.png"
            alt="unable to load machine"
          />
          <div class="equipmentEfficiencyCardInnerText">Unit Scrapped</div>
        </div>
        <div class="bottomGrayBar"></div>
      </div>
      <!-- end Unit Scrapped machine card--------------------------- -->
    </div>
  </div>
  <!-- end equipment eficency row-------------------------------------- -->

  <!-- start Downtime Reason Highlights row-------------------------------------- -->
  <div class="bg-white">
    <h1 class="equipmentEfficiencyCardInnerText ms-4">
      Downtime Reason Highlights
    </h1>
    <div class="d-flex justify-content-between align-items-center machileState">
      <!-- start active machine card--------------------------- -->
      <div
        class="d-flex flex-column align-items-center machineStateCard mx-auto"
      >
        <p class="amountOfThatMachine">15</p>
        <div class="d-flex align-items-center gap-3">
          <img
            src="../../../assets/numberOfMachineIcon.png"
            alt="unable to load machine"
          />
          <div class="equipmentEfficiencyCardInnerText">Total Machines</div>
        </div>
        <div class="bottomGrayBar"></div>
      </div>
      <!-- end active machine card--------------------------- -->
      <div class="verticalBar"></div>

      <!-- start Standalone machine card--------------------------- -->
      <div
        class="d-flex flex-column align-items-center machineStateCard mx-auto"
      >
        <p class="amountOfThatMachine">3</p>
        <div class="d-flex align-items-center gap-3">
          <img
            src="../../../assets/stsndAloneMachineIcon.png"
            alt="unable to load machine"
          />
          <div class="equipmentEfficiencyCardInnerText">Total Standalone</div>
        </div>
        <div class="bottomGrayBar"></div>
      </div>
      <!-- end Standalone machine card--------------------------- -->
      <div class="verticalBar"></div>

      <!-- start Unit Produced machine card--------------------------- -->
      <div
        class="d-flex flex-column align-items-center machineStateCard mx-auto"
      >
        <p class="amountOfThatMachine">3</p>
        <div class="d-flex align-items-center gap-3">
          <img
            src="../../../assets/producedUnitesIcon.png"
            alt="unable to load machine"
          />
          <div class="equipmentEfficiencyCardInnerText">Unit Produced</div>
        </div>
        <div class="bottomGrayBar"></div>
      </div>
      <!-- end Unit Produced machine card--------------------------- -->
      <div class="verticalBar"></div>

      <!-- start Unit Scrapped machine card--------------------------- -->

      <div
        class="d-flex flex-column align-items-center machineStateCard mx-auto"
      >
        <p class="amountOfThatMachine">4</p>
        <div class="d-flex align-items-center gap-3">
          <img
            src="../../../assets/unitScrapedIcon.png"
            alt="unable to load machine"
          />
          <div class="equipmentEfficiencyCardInnerText">Unit Scrapped</div>
        </div>
        <div class="bottomGrayBar"></div>
      </div>
      <!-- end Unit Scrapped machine card--------------------------- -->
    </div>
  </div>
  <!-- end Downtime Reason Highlights row-------------------------------------- -->

  <!-- details of equpment efficency -------------------------------  -->
  <div class="d-flex flex-wrap justify-content-start align-items-center gap-4">
    <app-equipment-efficiency-oven-card></app-equipment-efficiency-oven-card>
    <app-equipment-efficiency-oven-card></app-equipment-efficiency-oven-card>
    <app-equipment-efficiency-oven-card></app-equipment-efficiency-oven-card>
    <app-equipment-efficiency-oven-card></app-equipment-efficiency-oven-card>
    <app-equipment-efficiency-oven-card></app-equipment-efficiency-oven-card>
    <app-equipment-efficiency-oven-card></app-equipment-efficiency-oven-card>
    <app-equipment-efficiency-oven-card></app-equipment-efficiency-oven-card>
    <app-equipment-efficiency-oven-card></app-equipment-efficiency-oven-card>
    <app-equipment-efficiency-oven-card></app-equipment-efficiency-oven-card>
    <app-equipment-efficiency-oven-card></app-equipment-efficiency-oven-card>
  </div>

  <h1 class="equipmentHeading">Speed & Availability </h1>

  <!--Speed and avalibility-------------------------------  -->
  <div class="d-flex flex-wrap justify-content-start align-items-center gap-4">
    <ng-container *ngFor="let item of gaugeCardData">
      <app-speed-and-availability [summeryGaugeCardData]="item"></app-speed-and-availability>
  </ng-container>
  </div>
</div>
