<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <!-- <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" /> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Audiowide:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-default">
          <div
            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
          >
            <a
              href="/"
              class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
            >
              <div class="logo">
                <img
                  class="logo-shapes-2"
                  alt=""
                  src="../../../assets/iot-logo.png"
                />
              </div>
            </a>
            <ul
              class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
              id="menu"
            >
              <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                  <img
                    class="chart-icon"
                    alt=""
                    src="../../../assets/chart.svg"
                  />
                  <span class="ms-1 d-none d-sm-inline">Factory Dashboard</span>
                </a>
              </li>
              <!-- <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                 <span class="ms-1 d-none d-sm-inline">Dashboard</span>   <img
                                 class="chevron-down-icon"
                                 alt=""
                                 src="../../../assets/chevrondown.svg"
                               /> </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                                <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                                </li>
                            </ul>
                        </li> -->
              <li>
                <a href="#" class="nav-link px-0 align-middle">
                  <img
                    class="chevron-down-icon1"
                    alt=""
                    src="../../../assets/dash2.png"
                  />
                  <span class="ms-1 d-none d-sm-inline"
                    >Equipment Efficiency</span
                  >
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0 align-middle">
                  <img
                    class="chevron-down-icon1"
                    alt=""
                    src="../../../assets/dash3.png"
                  />
                  <span class="ms-1 d-none d-sm-inline">Energy</span>
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0 align-middle">
                  <img
                    class="chevron-down-icon1"
                    alt=""
                    src="../../../assets/silo.png"
                  />
                  <span class="ms-1 d-none d-sm-inline">Silo</span>
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0 align-middle">
                  <img
                    class="chevron-down-icon1"
                    alt=""
                    src="../../../assets/dash5.png"
                  />
                  <span class="ms-1 d-none d-sm-inline">Job</span>
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0 align-middle">
                  <img
                    class="chevron-down-icon1"
                    alt=""
                    src="../../../assets/Line.png"
                  />
                  <span class="ms-1 d-none d-sm-inline">Job</span>
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0 align-middle">
                  <img
                    class="chevron-down-icon1"
                    alt=""
                    src="../../../assets/Calender.png"
                  />
                  <span class="ms-1 d-none d-sm-inline">Report</span>
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0 align-middle">
                  <img
                    class="chevron-down-icon1"
                    alt=""
                    src="../../../assets/Calender.png"
                  />
                  <span class="ms-1 d-none d-sm-inline"
                    >Maintainance Detail</span
                  >
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0 align-middle">
                  <img
                    class="chevron-down-icon1"
                    alt=""
                    src="../../../assets/msg.png"
                  />
                  <span class="ms-1 d-none d-sm-inline"
                    >Maintainance Manager</span
                  >
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0 align-middle">
                  <img
                    class="chevron-down-icon1"
                    alt=""
                    src="../../../assets/msg.png"
                  />
                  <span class="ms-1 d-none d-sm-inline">Master Data</span>
                </a>
              </li>
            </ul>
            <hr />
            <div class="dropdown pb-4">
              <a
                href="#"
                class="d-flex align-items-center mb-2 text-decoration-none"
              >
                <img
                  src="../../../assets/help.png"
                  alt="hugenerd"
                  class="rounded-circle"
                />
                <span class="d-none d-sm-inline mx-1 tex-default"
                  >Help Center</span
                >
              </a>

              <a
                href="#"
                class="d-flex align-items-center mb-2 text-decoration-none"
              >
                <img
                  src="../../../assets/setting.png"
                  alt="hugenerd"
                  class="rounded-circle"
                />
                <span class="d-none d-sm-inline mx-1">Contact us</span>
              </a>
              <a
                href="#"
                class="d-flex align-items-center mb-2 text-decoration-none"
              >
                <img
                  src="../../../assets/dash2.png"
                  alt="hugenerd"
                  class="rounded-circle"
                />
                <span class="d-none d-sm-inline mx-1">Settings</span>
              </a>
              <a
                href="#"
                class="d-flex align-items-center text-decoration-none"
              >
                <img
                  src="../../../assets/logout.png"
                  alt="hugenerd"
                  class="rounded-circle"
                />
                <span class="d-none d-sm-inline mx-1">logout</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col py-3" style="background-color: lightgrey">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <div style="width: 50%">
                <form class="form-inline my-2 my-lg-8">
                  <input
                    class="form-control col-md-9"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                  />
                </form>
              </div>
              <div style="margin-left: 350px">
                <img
                  class="mask-group-icon"
                  width=""
                  alt=""
                  src="../../../assets/bell.png"
                />
                <img
                  class="mask-group-icon"
                  width=""
                  alt=""
                  src="../../../assets/scarlet.png"
                />
              </div>
            </div>
          </nav>
          <!-- <p class="lead">
                    An example 2-level sidebar with collasible menu items. The menu functions like an "accordion" where only a single 
                    menu is be open at a time. While the sidebar itself is not toggle-able, it does responsively shrink in width on smaller screens.</p>
                <ul class="list-unstyled">
                    <li><h5>Responsive</h5> shrinks in width, hides text labels and collapses to icons only on mobile</li>
                </ul> -->
          <!-- <app-energy></app-energy> -->
          <!-- <app-factory-summary></app-factory-summary> -->
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
  ></script>
</html>
