<div class="">
    <div class="pinkCardBar"></div>
    <div class="cardBody">
        <div class="d-flex gap-2 align-items-center">
            <img src="../../../assets/numberOfMachineIcon.png" alt="unable to load image" class="cardIcon">
            <div class="">
                <div class="name">Oven</div>
                <div class="d-flex align-items-center gap-1">
                    <div class="time">3h 9m, </div><span class="schedule"> Unplanned</span>
                </div>
                <div class="close">Auto Close: True</div>
            </div>
        </div>
        

        <!-- start first inner card------------------------ -->

        <div class="d-flex justify-content-between align-items-center mt-2">
            <p class="cavityHeading">Shift OEE</p>
            <p class="cavityPercentage">0%</p>
        </div>

        <div class="innerDoubleCardBody d-flex justify-content-between">
            <div class="d-flex flex-column py-1 align-items-center">
                <h1 class="innerDoubleCardUpperText">1</h1>
                <h1 class="innerDoubleCardLowerText">Total Cavity</h1>
            </div>
            <div class="verticalBar"></div>
            <div class="d-flex flex-column py-1 align-items-center">
                <h1 class="innerDoubleCardUpperText">1.1</h1>
                <h1 class="innerDoubleCardLowerText">Actual Active</h1>
            </div>
        </div>
        <!-- end first inner card------------------------ -->

        <!-- start second inner card------------------------ -->
        <div class="mt-2">
            <p class="cavityHeading">Unit Production Time</p>
            <!-- <p class="cavityPercentage">0%</p> -->
        </div>
        <div class="innerDoubleCardBody d-flex justify-content-between">
            <div class="d-flex flex-column py-1 align-items-center">
                <h1 class="innerDoubleCardUpperText">1</h1>
                <h1 class="innerDoubleCardLowerText">Total Cavity</h1>
            </div>
            <div class="verticalBar"></div>
            <div class="d-flex flex-column py-1 align-items-center">
                <h1 class="innerDoubleCardUpperText">1.1</h1>
                <h1 class="innerDoubleCardLowerText">Actual Active</h1>
            </div>
        </div>
        <!-- end second inner card------------------------ -->


        <!-- start progress bar section------------------------------------ -->
        <div class="d-flex justify-content-between align-items-center mt-3">
            <p class="progressBarInfo">STRA-GN220-BLK-ST</p>
            <p class="progressBarInfo">322L GARDEN STORAGE B..</p>
        </div>

        <!-- start progres bar------------------------------------  -->
        <mat-progress-bar mode="determinate" value="80" class="progressBar"></mat-progress-bar>
        <!-- end progres bar------------------------------------  -->
        <!-- end progress bar section------------------------------------ -->
    </div>
</div>