.factorSummery {
  margin-top: 150px;
  margin-left: 10px;
}

.coustomerName {
  color: #347ae2;
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.machineInfoMainLeftCard {
  padding: 7px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.jobCard {
  width: 286px;
  // height: 316px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.cardTitel {
  color: #1a1736;
  font-family: "Google Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.avalibilityText {
  color: #1a1736;
  font-family: "Google Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}

.runHoursLTM {
  color: #1a1736;
  text-align: right;
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.28px;
}

.runHourAmount {
  color: #1a1736;
  text-align: right;
  font-family: "Google Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.6px;
}

.cardBody {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.reportHeading{
  color: #1A1736;
font-family: 'Google Sans';
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.48px;
}
.reportTitel{
  color: #1A1736;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Google Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  letter-spacing: -0.3px;
}
.reportInfo{
  color: #524D82;
  font-family: 'Google Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}