.jobName {
    color: #1a1736;
    font-family: "Google Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.28px;
  }
  .jobAmount {
    color: #1a1736;
    font-family: "Google Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.6px;
  }
  