<div class="container formPage col-11 mx-auto">

  <form class="row justify-content-md-center mt-3 gap-2">
  <div class="formHeading col-7">Add New Shift</div>

    <!-- start shift name input--------------------------- -->
    <mat-form-field class="col-7" appearance="outline">
      <mat-label
        >Shift Name
        <img src="../../../assets/InputInfoIcon.png" alt="info" />
      </mat-label>
      <input
        matInput
        placeholder="Enter Shift Name"
        [formControl]="shiftName"
      />
      <mat-error *ngIf="shiftName.hasError('required')"
        >This field is required</mat-error
      >
    </mat-form-field>
    <!-- end shift name input--------------------------- -->

    <!-- start Factory selector--------------------------- -->
    <mat-form-field class="col-7" appearance="outline">
      <mat-label
        >Factory
        <img src="../../../assets/InputInfoIcon.png" alt="info" />
      </mat-label>
      <mat-select [formControl]="factory">
        <mat-option value="one">Factory-1</mat-option>
        <mat-option value="two">Factory-2</mat-option>
      </mat-select>
      <mat-error *ngIf="factory.hasError('required')"
        >Currency is required</mat-error
      >
    </mat-form-field>
    <!-- end Factory selector--------------------------- -->

    <!-- start Binging Time input--------------------------- -->
    <mat-form-field class="col-7" appearance="outline">
      <mat-label
        >Begin Time
        <img src="../../../assets/InputInfoIcon.png" alt="info" />
      </mat-label>
      <input
        matInput
        placeholder="Enter Begin Time"
        [formControl]="beginTime"
      />
      <mat-error *ngIf="beginTime.hasError('required')"
        >This field is required</mat-error
      >
    </mat-form-field>
    <!-- end Binging Time input--------------------------- -->

    <!-- start End Time input--------------------------- -->
    <mat-form-field class="col-7" appearance="outline">
      <mat-label
        >End Time
        <img src="../../../assets/InputInfoIcon.png" alt="info" />
      </mat-label>
      <input matInput placeholder="Enter End Time" [formControl]="endTime" />
      <mat-error *ngIf="endTime.hasError('required')"
        >This field is required</mat-error
      >
    </mat-form-field>
    <!-- end End Time input--------------------------- -->

    <!-- start Line configuration--------------------------- -->
    <div class="col-7">
      <div class="checkBoxHeading">
        Days
        <img src="../../../assets/InputInfoIcon.png" alt="info" />
      </div>
      <div class="d-flex gap-2">
        <mat-checkbox class="checkBoxLabel">Mon</mat-checkbox>
        <mat-checkbox class="checkBoxLabel">Tue</mat-checkbox>
        <mat-checkbox class="checkBoxLabel">Wed</mat-checkbox>
        <mat-checkbox class="checkBoxLabel">Thu</mat-checkbox>
        <mat-checkbox class="checkBoxLabel">Fri</mat-checkbox>
        <mat-checkbox class="checkBoxLabel">Sat</mat-checkbox>
        <mat-checkbox class="checkBoxLabel">Sun</mat-checkbox>
      </div>
    </div>
    <!-- end Line configuration--------------------------- -->

    <!-- start Comment input--------------------------- -->
    <mat-form-field class="col-7" appearance="outline">
      <mat-label
        >Comment
        <img src="../../../assets/InputInfoIcon.png" alt="info" />
      </mat-label>
      <textarea
        matInput
        placeholder="Enter Comment"
        [formControl]="comment"
      ></textarea>
      <mat-error *ngIf="comment.hasError('required')"
        >This field is required</mat-error
      >
    </mat-form-field>
    <!-- end Comment input--------------------------- -->

    <!-- start buttons-------------------------------------------- -->
    <div class="col-7 d-flex justify-content-end gap-2">
      <app-reuseable-form-cancel-button></app-reuseable-form-cancel-button>
      <app-reuseable-form-add-button></app-reuseable-form-add-button>
    </div>
    <!-- end buttons-------------------------------------------- -->
  </form>
</div>
