.forgetLeftSideBg {
    background-color: #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
}

.forgetRightSideBgColor {
    background-color: #F8F8F8;
}

.forgetImage {
    width: 100%;
    height: 306px;
    margin-top: 158px;
}


.formHeading {
    color: #1E2772;
    font-family: 'Inter';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    // line-height: normal;
}

// start material form --------
.example-form{
    width: 100%;
}
.example-full-width {
    width: 100%;

}

.inputStyle {
    border: 3px solid #1E2772;
    // background: #FFF;
    stroke-width: 1px;
    stroke: #1E2772;
}

.eyeIconButton {
    border: none;
    /* Remove the border */
    margin-right: 30px;
    /* Add a 30px margin on the right side */
}

.forgetButton {
    margin-top: 14px;
    background: linear-gradient(90deg, #1E2772 2.56%, #09AEF9 99.94%);
    height: 50px;
    border-radius: 5px;
}

.forgetText {
    color: #FFF;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    // text-align: center;
    // text-justify: center;
}















// .loginLeftSideBg {
//     background-color: #FFFFFF;
//     margin-top: auto;
//     margin-bottom: auto;
//   }
  
//   .loginRightSideBgColor {
//     background-color: #F8F8F8;
//   }
  
//   .loginImage {
//     width: 100%;
//     height: 306px;
//     margin-top: 158px;
//   }
  
//   .loginLeftSideBgColor {
//     background-color: #FFFFFF;
//   }
  
//   .loginFormLayoutStyle {
//     border-radius: 40px;
//     background: rgba(255, 255, 255, 0.30);
//     backdrop-filter: blur(15px);
//   }
  
  
//   .formHeading {
//     color: #1E2772;
//     font-family: 'Inter';
//     font-size: 36px;
//     font-style: normal;
//     font-weight: 700;
//     // line-height: normal;
//   }
  
//   // start material form --------
  
//   .example-full-width {
//     // margin-top: 30px;
//     width: 100%;
  
//   }
  
//   .inputStyle {
//     border: 3px solid #1E2772;
//     // background: #FFF;
//     stroke-width: 1px;
//     stroke: #1E2772;
//   }
  
//   .eyeIconButton {
//     border: none;
//     /* Remove the border */
//     margin-right: 30px;
//     /* Add a 30px margin on the right side */
//   }
  
//   .loginButton {
//     margin-top: 38px;
//     background: linear-gradient(90deg, #1E2772 2.56%, #09AEF9 99.94%);
//     height: 50px;
//     border-radius: 5px;
//   }
  
//   .loginText {
//     color: #FFF;
//     font-family: 'Inter';
//     font-size: 16px;
//     font-style: normal;
//     font-weight: 700;
//     line-height: normal;
//     // text-align: center;
//     // text-justify: center;
//   }