.energyCost{
    margin-top: 150px;
    margin-left: 10px;
}

.coustomerName {
    color: #347AE2;
    font-family: 'Google Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.energyMainHeading {
    color: #1E2772;
    font-family: 'Google Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}